.profile__add {
    all: unset;
    background-color: black;
    margin: 35px 0 0 244px;
    width: 100%;
    max-width: 150px;
    height: 50px;
    grid-area: add;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-position: center;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .profile__add {
        margin: 36px 19px 0;
        width: 100%;
        max-width: 282px;
    }
}

.profile__add:hover {
    opacity: .8;
}