.popup__form-avatar {
    margin: 225px auto;
    width: 430px;
    height: 272px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 580px) {
    .popup__body-avatar {
        width: 282px;
        height: 322px;
    }
}