.profile__edit {
    all: unset;
    margin: 37px 0 0 0;
    background-color: black;
    grid-area: edit;
    background-image: url(../../../images/profileEdit.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: cover;
}

@media screen and (max-width: 580px) {
    .profile__edit {
        margin-top: 36px;
        margin-right: 36px;
        width: 18px;
        height: 18px;
    }
}

.profile__edit:hover {
    opacity: .8;
}