.profile__rectangle {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/rectangle.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    grid-area: 'rectangle';
}